<h1> Create a new task </h1>

<%= form_with model: @task do |f| %>
  <p> <%= f.label :title %>
  <%= f.text_field :title %></p>

  <p> <%= f.label :details %>
  <%= f.text_field :details %></p>

  <%# <p><%= f.label :difficulty %>
  <%# <%= f.number_field :difficulty</p> %>

  <%= f.submit %>
<% end %>
